{{ define "main" }}
    <div class="index-content">
        {{ .Content }}
    </div>

    <div class="articles h-feed">
        <h1 class="post-title">{{ i18n .Title }}</h1>
        {{ $pages := where (where .Pages "Type" "in" site.Params.mainSections) "Params.hidden" "!=" true}}
        {{ range $pages }}
            <div class="post-short-list h-entry">
                <div class="post-header">
                    <header>
                        <h2 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}"><a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " | markdownify }}</a></h2>
                        {{ partial "post-language-switcher.html" . }}
                    </header>
                </div>
                {{ partial "post-info.html" . }}
            </div>
        {{ end }}
    </div>

{{ end }}