/* dark.css */ 
--font-color: #eee;
--bg-color: #111;

--link-color:#58e;
--link-state-color:#f06;
--link-state-border-color: rgba(238, 54, 54, 0.5);

--thead-bg-color: #333;
--table-border-color: lightgrey;

--nav-bg-color: #333;
--nav-link-color: #bbb;

--pre-color: #ffe;
--pre-bg-color: #222;

--bq-color: #ccc;
--hr-color: #333;

--pagination-bg-color: #333;
--pagination-link-color: #ccc;

--post-info-color: grey;

--switcher-color: #333;
--switcher-bg-color: #fff;

--svg-color: #ccc;
--svg-state-color:#f55;
