:root {
   /* light.css */ 
    --font-color: #333;
    --bg-color: #fff;

    --link-color:#38f;
    --link-state-color:#f06;
    --link-state-border-color: rgba(163, 29, 29, 0.5);

    --thead-bg-color: lightgrey;
    --table-border-color: lightgrey;

    --nav-bg-color: #eee;
    --nav-link-color: #777;

    --pre-color: #eee;
    --pre-bg-color: #222;

    --bq-color: #ccc;
    --hr-color: #ccc;

    --pagination-bg-color: #eee;
    --pagination-link-color: #666;

    --post-info-color: grey;

    --switcher-color: #fff;
    --switcher-bg-color: #333; 

    --svg-color: #333;
    --svg-state-color: #a22;
}
